body
{
    background-color: antiquewhite;
}

h1,h2{
    text-decoration: underline;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
}
.main-container{
    padding: 50px;
}
#pic{
    display: block;
    margin: auto;
    height: 2in;
    width: 2in;
    
}
#icon
{
    text-align: center;
    padding-top: 10px;
    height: 20px;
    width: 20px;
}

.sidebar
{
    margin-right: 100px;
    border-right: 2px solid;
}